version: 2
jobs:
  deploy:
    docker:
      - image: deviceplane/cli:1.0.9
    steps:
      - checkout
      - run:
          name: Deploy to Device Plane (canary)
          command: deviceplane deploy --application=demo-go-canary deviceplane-canary.yml
      - run:
          name: Deploy to Device Plane
          command: deviceplane deploy --application=demo-go deviceplane.yml

workflows:
  version: 2
  build_deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
